*{
	margin: 0;
	padding:  0;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	box-sizing: border-box;
}

body{
	background-image: url(car.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;*/
}
html{
	font-size: 62.5%;
}


.login{

	width: 450px; /*tamanho da caixa de cadastro*/
	margin: 7rem auto;	

}

h1{

	font-size: 4rem;
	padding-top: 9rem;
	padding-bottom: 2rem;
    text-align: center;
    color: rgba(245, 142, 83, 0.678);

}

.agrupamento{
	background-color: rgba(24, 54, 92, 0.582);
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid #083263;
	border-radius: 8px;
	box-shadow: 0px 1px 10px #083263;
	height: 520px;
    margin: auto;
	margin-top: 15vh;
}


label, input[type="text"], input[type="password"], input[type="submit"]{

	font-size: 1.5rem;
	padding-top: 2rem;
	color: rgba(219, 114, 53, 0.582);
    padding-left: 65px;
}

input[type="text"], input[type="password"]{

	width: 300px;
	padding: 1.0rem;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	border: 1px solid rgb(250, 128, 58); /* letras */
	border-radius: 8px;
	margin-left: 65px;
	font-size: 15px;
}

input[type="submit"]{

	color: white;
	width: 325px;
	padding: 1.0rem;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	border-radius: 8px;
	background-image: linear-gradient(to right, rgba(126, 76, 47, 0.582), #7e4110);	border: 0;
	border: 1px solid rgb(238, 143, 0);
	border-radius: 8px;
	cursor: pointer;
	margin-left: 65px;
    


}

#btn_entrar:hover 

{ background-color: #000000; 

transition: 0.3s;

opacity: 0.5;

}