*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    font-size: 62.5%;
}

body{
     background-image: linear-gradient(to right, #000000, #1b1f24);

}

.caixa_maior{
    margin: 0;
}

.caixa_sup{
    border: solid 1px #516470;
    height: 75px;
    background-image: linear-gradient(to right,rgba(38, 80, 134, 0.459), rgba(24, 54, 92, 0.397));
}

h1{

    font-size: 3rem;
    padding-left: 40%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: rgba(245, 142, 83, 0.582);

}


.navegacao{

    position: absolute;
    height: 1000px;
    background-image:rgba(24, 54, 92, 0.582);
    width: 55px;
    box-shadow: 10px 0 0 #94b7df;
    font-size: 1.5rem;
    border-left: 10px solid #516470;
    overflow-x: hidden;
    transition: 0.5s;
    min-height: 100vh;


}

.navegacao:hover{
    width: 190px;
}

.navegacao ul{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 40px;

}

.navegacao ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.navegacao ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;

}

.navegacao ul li a .icon{

    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;

}

.navegacao ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;

}

.navegacao ul li a .title{
    position: relative;
    display: block;
    padding-left: 5px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}


.list:hover 

{ background-color: #4c6c81; 
transition: 0.3s;
opacity: 0.3;

}

.destaque {
    position:absolute;
    display: flex;
    width:100rem;/* 1500px */
    gap: 1rem;  
    margin-left: 230px;
    float: left;
    

}
.destaque > div{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
    height: 315px;

}
.destaque >div:hover{
    flex: 5;
}


.menu {
    background-image: linear-gradient(to right,rgba(24, 54, 92, 0.582), rgba(24, 54, 92, 0.582));
    display: flex;
}


.teste{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
}

.publicaçãoteste1{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 275px;
    background-image: url('venom.jpg');  
    border: 1px solid rgb(59, 70, 65); 
    border-radius: 20px;
    float: left;
}



.publicaçãoteste2{
    position: 100%;    
    display: flex;
    float: left ;
    margin-top: 380px;
    margin-left: 125px;
    
}

.imgteste{
    width: 225px;
    height: 200px;
    border-radius: 7px;
    margin-left: 90px;
}



